<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Company</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/company_signup.css">
</head>
<body>
    <% if (message) { %>
        <div class="alert alert-danger" role="alert">
            <strong><%=message%></strong>
          </div>
      <% } %>
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Company Registration Form</h2>
                    <form onsubmit="return validateForm()" name="form1" action="/edit_company/<%= user_info._id%>"   method="post" id="update_form">
                        <input type="hidden" value="<%=user_info._id%>" name="_id">
                        <div class="one_line">
                            <div class="input-group" id="name">
                                <input  class="input--style-1" value="<%=user_info.name%>" type="text" placeholder="Company Name" name="name">
                                <label for="name">Company Name</label><br>
                                <b><span class="formerror"><br></span></b>
                            </div>
                            <div class="input-group-col2" id="email" >
                                <input class="input--style-1" value="<%=user_info.email%>" type="email" placeholder="Company Email" name="email">
                                <label for="email">Email</label><br>
                                <b><span class="formerror"><br></span></b>
                            </div>
                        </div>
                        <div class="one_line">
                            <div class="input-group" id="post" >
                                <input class="input--style-1" value="<%=user_info.position_required%>"  style="width:300px; margin-right:-10px;" type="text" placeholder="Post available" name="position_required">
                                <label for="post">Position</label><br>
                                <b><span class="formerror"><br></span></b>
                            </div>
                            <div class="input-group" style="margin-right:0px;" id="cpi">
                                <input  class="input--style-3" value="<%=user_info.required_cpi%>"  type="0.001" placeholder="Minimum CPI" name="required_cpi">
                                <br>
                                <label for="cpi">CPI</label><br>
                                <b><span class="formerror"><br></span></b>
                            </div>
                            <div class="input-group-col2" id="package">
                                <input id="package1" class="input--style-1" value="<%=user_info.package%>" type="text" placeholder="Package for the post" name="package">
                                <label for="package">Package</label><br>
                                <b><span class="formerror"><br></span></b>
                            </div>
                        </div>
                        <div class="one_line"> 
                        </div>
                        <div class="input-group" id="website">
                            <input  class="input--style-2" value="<%=user_info.website%>" type="text" placeholder="Official Website" name="website">
                            <label for="website">Website</label><br>
                            <b><span class="formerror"><br></span></b>
                        </div>
                        <div class="input-group" id="description">
                            <input class="input--style-2" value="<%=user_info.description%>" type="text" placeholder="Description about the company" name="description">
                            <label for="description">Description</label><br>
                            <b><span class="formerror"><br></span></b>
                        </div>
                        <div class="input-group" id="address">
                            <input class="input--style-2" value="<%=user_info.address%>" type="text" placeholder="Address of the Company" name="address">
                            <label for="address">Address</label><br>
                            <b><span class="formerror"><br></span></b>
                       </div>
    
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" >Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
        <script src="/static/js/company_update.js"></script>
     
</body>
</html>